.vscode/c_cpp_properties.json
zeos/taskswitch.s
zeos/taskswitch.o
zeos/bootsect.s
zeos/bootsect
zeos/bootsect.o
zeos/entry.o
zeos/entry.s
zeos/sys_call_table.s
zeos/interrupt.o
zeos/io.o
zeos/sched.o
zeos/sys_call_table.o
.vscode
zeos/libc.o
zeos/bochsout.txt
zeos/build
zeos/devices.o
zeos/hardware.o
zeos/list.o
zeos/mm.o
zeos/sys.o
zeos/system
zeos/system.o
zeos/system.out
zeos/user
zeos/user.o
zeos/user.out
zeos/utils.o
zeos/wrapper.o
zeos/wrapper.s
zeos/zeos.bin
